$debug: false;

@import "normalize";

@import "bourbon/bourbon";

$grid-columns: 12; 
$max-width: 50%;
$visual-grid: $debug;
$visual-grid-color: red;

@import "neat/neat";

$text-color: #222;

$special-ratio: 1.6;

$s: new-breakpoint(max-width 500px);
$m: new-breakpoint(max-width 960px);

@function _($step) {
  @return modular-scale(1rem, $step, $special-ratio);
}

@mixin scale-html-font-size {
  $smallest-viewport-width: 320px;
  $viewport-step: 240px;
  $steps: 6;
  $scale-font-size-by: 10%;
  $base-font-size: 100%;

  @for $step-i from 0 through $steps {
    $viewport-width: $smallest-viewport-width + $step-i*$viewport-step;
  
    // linear
    $font-size: $base-font-size + $step-i * $scale-font-size-by;

    @include media(min-width $viewport-width) {
      font-size: $font-size;
    }
  }
}

$baseline: 1.4em;

html {
  @include scale-html-font-size;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Futura", sans-serif;
  color: $text-color;
  line-height: 1.4em;

  margin: 0 auto;
  display: table;

  max-width: 1920px;

  @include media($s) {
    text-align: left;
  }
}

#container {
  @include outer-container;
  @include pad;

  min-width: 320px;

  padding-top: 0;
  padding-bottom: 0;
}

h1, h2 {
  font-weight: 500;
  font-size: _(0);
}



h2 {
  font-size: _(0);
  margin-bottom: 0rem;
}

p {
  font-size: _(0);
  line-height: 1.35em; 
}

$square-size: $max-width;

[data-fittext] {
  text-align: justify; 
  text-justify: newspaper;
  text-overflow: visible;
  white-space: nowrap;
}

header {
  @include span-columns(12);
  @include omega();

  h1 {
    text-transform: uppercase;
    @include span-columns(12);
    @include omega();
    margin-bottom: _(-1);

    &:nth-of-type(1) {
      font-size: _(2);
    }

    &:nth-of-type(2) {
      font-size: _(2);
      color: #AB5DA2;
      margin-bottom: _(0);
    }

    &:nth-of-type(3) {
      font-size: _(1);
      margin-bottom: _(2);
      color: #DDA2CD;
    }
  }

  &:before {
    height: _(3);

    content: " ";
    display: block;
    background: #C082B6;

    @include span-columns(12);
    @include omega();

    margin-bottom: _(0);
  }
}

footer {
  @include span-columns(12);

  &:after {
    height: _(3);
    content: " ";
    display: block;
    background: #C082B6;
  }
}

section {
  @include span-columns(12);
  @include omega();
  @include pad;
  padding-left: 0;
  padding-right: 0;
}

section.join-us {
  border: 2px solid black;
  border-left: none;
  border-right: none;
  font-size: _(0);
  line-height: 1.3em;
  margin: _(-1) auto;


  padding: _(0) 0;
}

section.talks {
  ol {
    padding: 0;
    margin: 0;
    list-style: none;
    @include span-columns(12);

    li {
      @include span-columns(12);
      margin: _(1) auto;

      &:first-of-type {
        margin-top: none;
      }

      &:last-of-type {
        margin-bottom: none;
      }
    }
  }

  border-bottom: 2px solid black;
}

article.talk {
  .photo {
    height: _(5);
    @include span-columns(5);
    background: #eee;

    @include media($m) {
      @include span-columns(12);
      margin-bottom: _(0);
    }
  }

  .info {
    @include span-columns(7);
    @include omega();
  
    @include media($m) {
      @include span-columns(10);
    }

    h1 {
      font-size: _(0);
      letter-spacing: 0;
      margin: 0 auto;
      padding-bottom: .15rem;
      // border-bottom: 2px solid black;
    }

    span {
      @include span-columns(12);
      @include omega();
      margin-top: 0;
      color: #BFBFBF;
      margin-bottom: _(0);
    }
  }
}

section.beers-at {
  border-bottom: 2px solid black;
  h2 {
    margin-bottom: 0;
  }
  
  .venue {
    margin-top: _(0);
  }
}

article.venue {
  @include span-columns(12);
  @include omega();

  h1 {
    @include span-columns(12);
    @include omega();
    font-size: _(1);
    text-transform: uppercase;
    color: #C082B6;
  }
}

section.rsvp {
  $button-color: #D1D2D4;

  button {
    margin: _(2) auto _(2);
    display: table;

    @include media($s) {
      @include span-columns(12);
      @include omega();
      @include shift(0);
      line-height: _(2)/2;
      font-size: _(1);
    }

    @include span-columns(12);
    @include shift(0);
    @include omega();
    background: #E8A3E0;
    background: #000;
    border: none;
    color: white;
    font-size: _(1);
    @include pad(_(0));
    text-transform: uppercase; 
  } 
}
